.button-element {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-start-margin: 10;
    -fx-end-margin: 10;
    -fx-pref-width: 250;
}

#input_holder_id {
    -fx-spacing: 5;
}

#left_column {
    -fx-pref-width: 250;
    -fx-padding: 0 25 0 10;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-pref-width: 150;
    -fx-pref-height: 150;
    -fx-min-width: 150;
    -fx-min-height: 150;
    -fx-padding: 5 15 5 15;
}

.card:hover {
    -fx-background-color: #e0e0e0;
}

.header {
    -fx-font-size: 2em;
    -fx-padding: 5 0 5 0;
}

.label {
    -fx-padding: 2 0 2 0;
}

.describe {
    -fx-wrap-text: true;
}

.borderpane, .anchor {
    -fx-padding: 15;
    -fx-background-color: rgba(2, 214, 237, 0.35);
}

.completedToDo {
    -fx-background-color: rgba(2, 191, 0, 0.42);
}

.uncompletedToDo {
    -fx-background-color: rgba(132, 0, 17, 0.51);
}

.codeSnippet {
    -fx-background-color: #EEEEEE;
    -fx-font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    -fx-wrap-text: true;
    -fx-max-width: 500;
}

.italic {
    -fx-font-family: Cambria;
    -fx-font-style: italic;
}

.h3 {
    -fx-font-size: 1.5em;
    -fx-padding: 5 0 5 0;
}

.quote {
    -fx-font-family: Verdana;
    -fx-font-style: italic;
}

.author {
    -fx-font-family: Courier;
    -fx-font-size: 1.2em;
}

.filterColumn {
    -fx-pref-width: 150;
    -fx-padding: 0 10 0 15;
}

.tilepane {
    -fx-padding: 10;
}