.button-element {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-start-margin: 10;
    -fx-end-margin: 10;
}

#create {
    -fx-pref-width: 250;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-pref-width: 150;
}

.header {
    -fx-font-size: 18;
}

.describe {
    -fx-wrap-text: true;
}